* {
    padding: 0;
    margin: 0;
    position: relative;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: #083FDC;
    background: linear-gradient(to bottom, #0039d6ed,  #0b4af8f0, #206CFF);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
